<div class="container-fluid">
<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><span></span></a>
  </div>

    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/pets" routerLinkActive="active" title="pets">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Pets</span>
        </a>
      </li>
      <li>
        <a routerLink="/owners" routerLinkActive="active" title="owners">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Owners</span>
        </a>
      </li>
      <li>
        <a routerLink="/vets" routerLinkActive="active" title="vets">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Vets</span>
        </a>
      </li>
      <li>
        <a routerLink="/visits" routerLinkActive="active" title="visits">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Visits</span>
        </a>
      </li>
      <!--
        <li>
            <a routerLink="/vets">
              <span class="glyphicon glyphicon-search" aria-hidden="true">
              </span><span>All</span>
            </a>
          </li>
          <li><a routerLink="/vets/add"><span class="glyphicon glyphicon-plus"
                                              aria-hidden="true"></span><span> Add New</span></a></li>
        </ul>
      </li>
      -->
      <li>
        <a routerLink="/pettypes" routerLinkActive="active" title="pettypes">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Pet Types</span>
        </a>
      </li>
      <li>
        <a routerLink="/specialties" routerLinkActive="active" title="specialties">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span>Specialties</span>
        </a>
      </li>
    </ul>


      <a routerLink="register" routerLinkActive="active" title="owners">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        <span>Entrar</span>
      </a>

  </div>
</nav>

</div>



<router-outlet></router-outlet>

<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-12 text-center"><img src="./assets/images/angular.png"
                                         alt="Angular" height="80" width="80"/>
      <img src="./assets/images/spring-pivotal-logo.png"
           alt="Sponsored by Pivotal"/></div>
  </div>
</div>
